@import url('./BIZUD.css');
@import url('./IBMPlexSans.css');
@import url("./IBMPlexSerif.css");

@font-face {
    font-family: 'Cas Mono';
    src: url('./CascadiaMono.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Cas Mono';
    src: url('./CascadiaMonoItalic.ttf') format("truetype");
    font-style: italic;
}

:root {
    --vs-font-family: 'IBM Plex Serif', 'mincho', sans-serif;

    /* 等幅フォント（コードブロックで利用される）のフォント */
    --vs--monospace-font-family: 'Cas Mono', 'gothic';
}
