pre {
  width: 100%;
}

.column {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
}

.column-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2c3e50;
}

/* NOTE: 目次に含まれるh1を消すためのワークアラウンド */
h1:has(+ #toc) {
  display: none;
}